<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_0885e694df1a43889e9c5501bfdb874f {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_0885e694df1a43889e9c5501bfdb874f" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_0885e694df1a43889e9c5501bfdb874f = L.map(
        'map_0885e694df1a43889e9c5501bfdb874f', {
        center: [40.758505, -73.985624],
        zoom: 17,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_0b9b1713c77a414c917e3afa2b5be47a = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_0885e694df1a43889e9c5501bfdb874f);
    
        var marker_588edd8503564e7e8b0909acf683d077 = L.marker(
            [40.758022, -73.985832],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_2bb4909818b444cca19fafadd9215013 = L.popup({maxWidth: '100%'
            
            });

            
                var html_6f03a4ef541b46f28f4ca093e3360646 = $(`<div id="html_6f03a4ef541b46f28f4ca093e3360646" style="width: 100.0%; height: 100.0%;"><p>SSID:  LinkNYC Free Wi-Fi</p><p>Details:Tablet Internet -phone , Free 1 GB Wi-FI Service</p></div>`)[0];
                popup_2bb4909818b444cca19fafadd9215013.setContent(html_6f03a4ef541b46f28f4ca093e3360646);
            

            marker_588edd8503564e7e8b0909acf683d077.bindPopup(popup_2bb4909818b444cca19fafadd9215013)
            ;

            
        
    
        var marker_d243b3fcc1634a59a547395bf1aa02b5 = L.marker(
            [40.757869, -73.985703],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_45012f09eb554b0cad1704ba00cde4d0 = L.popup({maxWidth: '100%'
            
            });

            
                var html_a7f57573a30b47caa7ad2d82b0f37e13 = $(`<div id="html_a7f57573a30b47caa7ad2d82b0f37e13" style="width: 100.0%; height: 100.0%;"><p>SSID:  LinkNYC Free Wi-Fi</p><p>Details:Tablet Internet -phone , Free 1 GB Wi-FI Service</p></div>`)[0];
                popup_45012f09eb554b0cad1704ba00cde4d0.setContent(html_a7f57573a30b47caa7ad2d82b0f37e13);
            

            marker_d243b3fcc1634a59a547395bf1aa02b5.bindPopup(popup_45012f09eb554b0cad1704ba00cde4d0)
            ;

            
        
    
        var marker_03c60b80065b4c7ba3fe4e3fc04084e0 = L.marker(
            [40.757666, -73.985878],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_2b8153a5f5284661acaceefc2d3e03a5 = L.popup({maxWidth: '100%'
            
            });

            
                var html_7d7d4845a4c0455a8d91d2107860094d = $(`<div id="html_7d7d4845a4c0455a8d91d2107860094d" style="width: 100.0%; height: 100.0%;"><p>SSID:  LinkNYC Free Wi-Fi</p><p>Details:Tablet Internet -phone , Free 1 GB Wi-FI Service</p></div>`)[0];
                popup_2b8153a5f5284661acaceefc2d3e03a5.setContent(html_7d7d4845a4c0455a8d91d2107860094d);
            

            marker_03c60b80065b4c7ba3fe4e3fc04084e0.bindPopup(popup_2b8153a5f5284661acaceefc2d3e03a5)
            ;

            
        
    
        var marker_0a3946e58a86468285a5df6f891e137a = L.marker(
            [40.759379, -73.984637],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_9d4bdf6c99284119b94c2fcde3ccde94 = L.popup({maxWidth: '100%'
            
            });

            
                var html_7611cc18bf4a497fa312e39d35f8da8b = $(`<div id="html_7611cc18bf4a497fa312e39d35f8da8b" style="width: 100.0%; height: 100.0%;"><p>SSID:  LinkNYC Free Wi-Fi</p><p>Details:Tablet Internet -phone , Free 1 GB Wi-FI Service</p></div>`)[0];
                popup_9d4bdf6c99284119b94c2fcde3ccde94.setContent(html_7611cc18bf4a497fa312e39d35f8da8b);
            

            marker_0a3946e58a86468285a5df6f891e137a.bindPopup(popup_9d4bdf6c99284119b94c2fcde3ccde94)
            ;

            
        
    
        var marker_2d25eb4b64bd4a4aa37a8d79a602ae99 = L.marker(
            [40.759713, -73.984131],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_3676ce0cf02f46b587d357b137a62558 = L.popup({maxWidth: '100%'
            
            });

            
                var html_716c726231b443e4bd903b814f305b19 = $(`<div id="html_716c726231b443e4bd903b814f305b19" style="width: 100.0%; height: 100.0%;"><p>SSID:  LinkNYC Free Wi-Fi</p><p>Details:Tablet Internet -phone , Free 1 GB Wi-FI Service</p></div>`)[0];
                popup_3676ce0cf02f46b587d357b137a62558.setContent(html_716c726231b443e4bd903b814f305b19);
            

            marker_2d25eb4b64bd4a4aa37a8d79a602ae99.bindPopup(popup_3676ce0cf02f46b587d357b137a62558)
            ;

            
        
    
        var marker_e70a547bcea64e629d31dc27100e8e3e = L.marker(
            [40.760266, -73.984857],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_700a8760d46e4d79ba73f7cff4c1b2e0 = L.popup({maxWidth: '100%'
            
            });

            
                var html_5f881616aa384605b13f774afe173a11 = $(`<div id="html_5f881616aa384605b13f774afe173a11" style="width: 100.0%; height: 100.0%;"><p>SSID:  LinkNYC Free Wi-Fi</p><p>Details:Tablet Internet -phone , Free 1 GB Wi-FI Service</p></div>`)[0];
                popup_700a8760d46e4d79ba73f7cff4c1b2e0.setContent(html_5f881616aa384605b13f774afe173a11);
            

            marker_e70a547bcea64e629d31dc27100e8e3e.bindPopup(popup_700a8760d46e4d79ba73f7cff4c1b2e0)
            ;

            
        
    
        var marker_cd7a33fb8eeb4ce2ab43418c0384d5af = L.marker(
            [40.759971, -73.984342],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_3107494fc2b74cf3bd4274b29834778d = L.popup({maxWidth: '100%'
            
            });

            
                var html_e8ef7977098a45998cabe661c0bdef30 = $(`<div id="html_e8ef7977098a45998cabe661c0bdef30" style="width: 100.0%; height: 100.0%;"><p>SSID:  LinkNYC Free Wi-Fi</p><p>Details:Tablet Internet -phone , Free 1 GB Wi-FI Service</p></div>`)[0];
                popup_3107494fc2b74cf3bd4274b29834778d.setContent(html_e8ef7977098a45998cabe661c0bdef30);
            

            marker_cd7a33fb8eeb4ce2ab43418c0384d5af.bindPopup(popup_3107494fc2b74cf3bd4274b29834778d)
            ;

            
        
    
        var marker_0761640112ed47c68e16c0b816901549 = L.marker(
            [40.759901, -73.984139],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_02f99ae49ac54c8da6643ab973a51e27 = L.popup({maxWidth: '100%'
            
            });

            
                var html_c065c2fb26924b91b1fb87cd78ebce8c = $(`<div id="html_c065c2fb26924b91b1fb87cd78ebce8c" style="width: 100.0%; height: 100.0%;"><p>SSID:  TransitWirelessWiFi</p><p>Details:SN 10</p></div>`)[0];
                popup_02f99ae49ac54c8da6643ab973a51e27.setContent(html_c065c2fb26924b91b1fb87cd78ebce8c);
            

            marker_0761640112ed47c68e16c0b816901549.bindPopup(popup_02f99ae49ac54c8da6643ab973a51e27)
            ;

            
        
    
        var marker_cd38e5ffbf5f4eb18567901a30b3eea0 = L.marker(
            [40.756638, -73.986634],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_d4ac852718264857a22c25cfb97206a3 = L.popup({maxWidth: '100%'
            
            });

            
                var html_7bf3580cb8724bc79d46cd98a72f78dd = $(`<div id="html_7bf3580cb8724bc79d46cd98a72f78dd" style="width: 100.0%; height: 100.0%;"><p>SSID:  LinkNYC Free Wi-Fi</p><p>Details:Tablet Internet -phone , Free 1 GB Wi-FI Service</p></div>`)[0];
                popup_d4ac852718264857a22c25cfb97206a3.setContent(html_7bf3580cb8724bc79d46cd98a72f78dd);
            

            marker_cd38e5ffbf5f4eb18567901a30b3eea0.bindPopup(popup_d4ac852718264857a22c25cfb97206a3)
            ;

            
        
    
        var marker_d1a69213823f4c8db38c408f7b2936e4 = L.marker(
            [40.760413, -73.984541],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_5752a6e88b484eb3979f57079cd79180 = L.popup({maxWidth: '100%'
            
            });

            
                var html_7be7a0b821eb4dd7ba91b8b98b5cfe6f = $(`<div id="html_7be7a0b821eb4dd7ba91b8b98b5cfe6f" style="width: 100.0%; height: 100.0%;"><p>SSID:  LinkNYC Free Wi-Fi</p><p>Details:Tablet Internet -phone , Free 1 GB Wi-FI Service</p></div>`)[0];
                popup_5752a6e88b484eb3979f57079cd79180.setContent(html_7be7a0b821eb4dd7ba91b8b98b5cfe6f);
            

            marker_d1a69213823f4c8db38c408f7b2936e4.bindPopup(popup_5752a6e88b484eb3979f57079cd79180)
            ;

            
        
    
        var marker_f97013a8fa0a47be843fb06ff6a107ac = L.marker(
            [40.760235, -73.984012],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_f05a0fdb71814af78794c6285068377f = L.popup({maxWidth: '100%'
            
            });

            
                var html_b6951af430d04443883e0fefa99bea78 = $(`<div id="html_b6951af430d04443883e0fefa99bea78" style="width: 100.0%; height: 100.0%;"><p>SSID:  LinkNYC Free Wi-Fi</p><p>Details:Tablet Internet -phone , Free 1 GB Wi-FI Service</p></div>`)[0];
                popup_f05a0fdb71814af78794c6285068377f.setContent(html_b6951af430d04443883e0fefa99bea78);
            

            marker_f97013a8fa0a47be843fb06ff6a107ac.bindPopup(popup_f05a0fdb71814af78794c6285068377f)
            ;

            
        
    
        var marker_120caa9556b244329298253a2ffeb805 = L.marker(
            [40.760718, -73.984634],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_4ce3635257cb448386006ecbb3843e9f = L.popup({maxWidth: '100%'
            
            });

            
                var html_fad6902fc3594963a597337b972250ba = $(`<div id="html_fad6902fc3594963a597337b972250ba" style="width: 100.0%; height: 100.0%;"><p>SSID:  LinkNYC Free Wi-Fi</p><p>Details:Tablet Internet -phone , Free 1 GB Wi-FI Service</p></div>`)[0];
                popup_4ce3635257cb448386006ecbb3843e9f.setContent(html_fad6902fc3594963a597337b972250ba);
            

            marker_120caa9556b244329298253a2ffeb805.bindPopup(popup_4ce3635257cb448386006ecbb3843e9f)
            ;

            
        
    
        var marker_707ef923950044abbdc9d411c5187b65 = L.marker(
            [40.759656, -73.987772],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_4d0e3c451715467d9b36dd4b0535ebe1 = L.popup({maxWidth: '100%'
            
            });

            
                var html_5583cccd6c9641e28ed1fccab954a776 = $(`<div id="html_5583cccd6c9641e28ed1fccab954a776" style="width: 100.0%; height: 100.0%;"><p>SSID:  LinkNYC Free Wi-Fi</p><p>Details:Tablet Internet -phone , Free 1 GB Wi-FI Service</p></div>`)[0];
                popup_4d0e3c451715467d9b36dd4b0535ebe1.setContent(html_5583cccd6c9641e28ed1fccab954a776);
            

            marker_707ef923950044abbdc9d411c5187b65.bindPopup(popup_4d0e3c451715467d9b36dd4b0535ebe1)
            ;

            
        
    
        var marker_e4084b47e59947efa0d6de8d2610a59d = L.marker(
            [40.760283, -73.987313],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_92598c670ee54bb9adce0013a21888ec = L.popup({maxWidth: '100%'
            
            });

            
                var html_45649596e6514c778197e5095e35e810 = $(`<div id="html_45649596e6514c778197e5095e35e810" style="width: 100.0%; height: 100.0%;"><p>SSID:  LinkNYC Free Wi-Fi</p><p>Details:Tablet Internet -phone , Free 1 GB Wi-FI Service</p></div>`)[0];
                popup_92598c670ee54bb9adce0013a21888ec.setContent(html_45649596e6514c778197e5095e35e810);
            

            marker_e4084b47e59947efa0d6de8d2610a59d.bindPopup(popup_92598c670ee54bb9adce0013a21888ec)
            ;

            
        
    
        var marker_a3553ac6eb604030800988c89b2fe2ec = L.marker(
            [40.760646, -73.98442],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_9d17a7512f784b81861d22c31fa3fe83 = L.popup({maxWidth: '100%'
            
            });

            
                var html_4425ff57a64440149b4a08317e841285 = $(`<div id="html_4425ff57a64440149b4a08317e841285" style="width: 100.0%; height: 100.0%;"><p>SSID:  LinkNYC Free Wi-Fi</p><p>Details:Tablet Internet -phone , Free 1 GB Wi-FI Service</p></div>`)[0];
                popup_9d17a7512f784b81861d22c31fa3fe83.setContent(html_4425ff57a64440149b4a08317e841285);
            

            marker_a3553ac6eb604030800988c89b2fe2ec.bindPopup(popup_9d17a7512f784b81861d22c31fa3fe83)
            ;

            
        
    
        var marker_5743b1531e484b1989f5468cdd515623 = L.marker(
            [40.760632, -73.984283],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_74405596fdeb4ec792108b15bdb1ff2a = L.popup({maxWidth: '100%'
            
            });

            
                var html_3382f8eab0be4bc0886458bc9e14bd1e = $(`<div id="html_3382f8eab0be4bc0886458bc9e14bd1e" style="width: 100.0%; height: 100.0%;"><p>SSID:  LinkNYC Free Wi-Fi</p><p>Details:Tablet Internet -phone , Free 1 GB Wi-FI Service</p></div>`)[0];
                popup_74405596fdeb4ec792108b15bdb1ff2a.setContent(html_3382f8eab0be4bc0886458bc9e14bd1e);
            

            marker_5743b1531e484b1989f5468cdd515623.bindPopup(popup_74405596fdeb4ec792108b15bdb1ff2a)
            ;

            
        
    
        var marker_cc82d31a2fa6452e95cc6afd11b6e20d = L.marker(
            [40.755983, -73.986229],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_a9ea3337e938481cb6716c2f16a80e5b = L.popup({maxWidth: '100%'
            
            });

            
                var html_f3a89f73b58141e3bae9cda7cd04d1c1 = $(`<div id="html_f3a89f73b58141e3bae9cda7cd04d1c1" style="width: 100.0%; height: 100.0%;"><p>SSID:  TransitWirelessWiFi</p><p>Details:SN 468</p></div>`)[0];
                popup_a9ea3337e938481cb6716c2f16a80e5b.setContent(html_f3a89f73b58141e3bae9cda7cd04d1c1);
            

            marker_cc82d31a2fa6452e95cc6afd11b6e20d.bindPopup(popup_a9ea3337e938481cb6716c2f16a80e5b)
            ;

            
        
    
        var marker_a9518b075df5425a83a07967a6eaa8da = L.marker(
            [40.760326, -73.983693],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_38e1c2b6fd7d44d386b07893cdfd0e10 = L.popup({maxWidth: '100%'
            
            });

            
                var html_8054e26825b94a2482a81c538c52522e = $(`<div id="html_8054e26825b94a2482a81c538c52522e" style="width: 100.0%; height: 100.0%;"><p>SSID:  LinkNYC Free Wi-Fi</p><p>Details:Tablet Internet -phone , Free 1 GB Wi-FI Service</p></div>`)[0];
                popup_38e1c2b6fd7d44d386b07893cdfd0e10.setContent(html_8054e26825b94a2482a81c538c52522e);
            

            marker_a9518b075df5425a83a07967a6eaa8da.bindPopup(popup_38e1c2b6fd7d44d386b07893cdfd0e10)
            ;

            
        
    
        var marker_74ab7cfd0d3e4c90b3d84013b8f24119 = L.marker(
            [40.759221, -73.988187],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_e6ac30cfaade4304b3c53ba1995565c4 = L.popup({maxWidth: '100%'
            
            });

            
                var html_5b65859536e7436e8147f873fa933474 = $(`<div id="html_5b65859536e7436e8147f873fa933474" style="width: 100.0%; height: 100.0%;"><p>SSID:  LinkNYC Free Wi-Fi</p><p>Details:Tablet Internet -phone , Free 1 GB Wi-FI Service</p></div>`)[0];
                popup_e6ac30cfaade4304b3c53ba1995565c4.setContent(html_5b65859536e7436e8147f873fa933474);
            

            marker_74ab7cfd0d3e4c90b3d84013b8f24119.bindPopup(popup_e6ac30cfaade4304b3c53ba1995565c4)
            ;

            
        
    
        var marker_a8f8e7ae1c6f4d4eaaf071e259b04112 = L.marker(
            [40.760895, -73.986836],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0885e694df1a43889e9c5501bfdb874f);
        
    
            var popup_d5c7d2713c244ca098ba1ad655446426 = L.popup({maxWidth: '100%'
            
            });

            
                var html_dca8c73f7a004e57a0ca472ff776b8ad = $(`<div id="html_dca8c73f7a004e57a0ca472ff776b8ad" style="width: 100.0%; height: 100.0%;"><p>SSID:  LinkNYC Free Wi-Fi</p><p>Details:Tablet Internet -phone , Free 1 GB Wi-FI Service</p></div>`)[0];
                popup_d5c7d2713c244ca098ba1ad655446426.setContent(html_dca8c73f7a004e57a0ca472ff776b8ad);
            

            marker_a8f8e7ae1c6f4d4eaaf071e259b04112.bindPopup(popup_d5c7d2713c244ca098ba1ad655446426)
            ;

            
        
</script>